<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644063955323-h2klcvsiqlempo0ve2844koim7a3fno8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644063955323-h2klcvsiqlempo0ve2844koim7a3fno8</string>
	<key>API_KEY</key>
	<string>AIzaSyC4i1xbm56A5n35mM8swSJqfdPvc5UkGTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>644063955323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.algostocks.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>algostockz-bce19</string>
	<key>STORAGE_BUCKET</key>
	<string>algostockz-bce19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644063955323:ios:24e74d692a2a2f3e8395de</string>
</dict>
</plist>